<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo123.DAO.PostDAO">
    <insert id="insertPost">
        insert into post
        (title, text, img, member_no, date)
        values
        (#{title}, #{text}, #{img}, #{member_no}, CURRENT_TIMESTAMP);
    </insert>


    <select id="getListPostPage" resultType="com.example.demo123.DTO.PostDTO">
        select post.*, member.id as member_name,
        (select count(*) from comment where post_no=post.no) as comment from post
         left join member on post.member_no = member.no order by post.no desc
        limit #{limit}, #{contentNo};
    </select>

    <select id="getListSearchPost" resultType="com.example.demo123.DTO.PostDTO">
        select post.*, member.id as member_name,
               (select count(*) from comment where post_no=post.no) as comment from post
               left join member on post.member_no = member.no where title like CONCAT('%', #{search}, '%') order by post.no desc
            limit #{limit}, #{contentNo};
    </select>

    <select id="getSearchRows" resultType="int">
        select count(*) from post where title like CONCAT('%', #{search}, '%');
    </select>

    <select id="selectPost" resultType="com.example.demo123.DTO.PostDTO">
        select post.*, member.id as member_name from post
        left join member on post.member_no = member.no
        where post.no=#{no};
    </select>


    <select id="getRows" resultType="int">
        select count(*) from post;
    </select>

    <delete id="deletePost">
        delete from post where no=#{post_no} and member_no=#{member_no};
    </delete>

    <update id="updatePost">
        update post set title=#{title}, text=#{text},
        img=#{img}, date=CURRENT_TIMESTAMP where no=#{post_no} and member_no=#{member_no};
    </update>

    <select id="getMemberName" resultType="String">
        select id from member where no = #{member_no};
    </select>

</mapper>