<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<th:block th:fragment="headerFragment">

<script>
    $("#btnSignup").on('click', function(){
        var loginModal = document.getElementById("loginModal");
        loginModal.hide();
    });

</script>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark nav-fixed">
    <div class="container">
        <div>
            <a id="homeBtn" class="navbar-brand" href="./home">Maroonest's BLOG</a>
        </div>
        <div class="ms-auto hstack">
            <a id="darkmodeBtn" class="btn btn-sm mx-1 btn-darkmode"><i class="fas fa-moon"></i></a>
            <a href="#" id="searchButton" style="width : 32px" data-bs-toggle="modal" data-bs-target="#searchModal" class="btn btn-light rounded-pill btn-sm mx-1"><i class="fas fa-search"></i></a>
            <a th:if="${session.member_no}" style="width : 32px" id="navbarPost" class="btn btn-light rounded-pill btn-sm mx-1" href="./newpost"><i class="fas fa-pencil-alt"></i></a>
            <div th:if="${session.member_id}" class="dropdown">
                <a class="btn btn-light rounded-pill btn-sm mx-1" style="width : 32px" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fas fa-user-circle"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark" style="text-align: center; left : -200%;" aria-labelledby="dropdownMenuButton1">
                    <li>ID : [[${session.member_id}]]</li>
                    <li><a class="" href="./memberinfo">정보</a></li>
                    <li><a class="link-danger" href="./logout">로그아웃</a></li>
                </ul>
            </div>
            <a th:unless="${session.member_id}" id="navbarLogin" class="btn btn-light rounded-pill btn-sm mx-1" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
            <button class="navbar-toggler ms-1 rounded-pill" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i></button>
        </div>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a id="navbarHome" class="nav-link" href="./home">Home</a></li>
                <li class="nav-item"><a id="navbarAbout"  class="nav-link" href="./about">About</a></li>
                <li class="nav-item"><a id="navbarContact" class="nav-link" href="./chat">Chat</a></li>
            </ul>
        </div>
        </div>
</nav>

<!-- Page header with logo and tagline-->
<header class="py-5 border-bottom mb-4">
    <div class="container">
        <div class="text-center my-5">
            <h1 class="fw-bolder">Welcome to Maroonest's BLOG!</h1>
        </div>
    </div>
</header>
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button id="btnLoginModalClose" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="loginForm" action="./login" method="post">
            <div class="modal-body">
                <div class="input-group mb-2">
                    <span class="input-group-text" style="min-width : 45px;" ><i class="fas fa-id-card"></i></span>
                    <input id="loginIdInput" type="text" name="id" class="form-control" th:attr="value=${session.memberID}" placeholder="ID" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-2">
                    <span class="input-group-text" style="min-width : 45px;" ><i class="fas fa-key"></i></span>
                    <input id="loginPwdInput" type="password" name="pwd" class="form-control" placeholder="PWD" aria-describedby="inputGroup-sizing-default">
                </div>
            </div>
            <div class="modal-footer">
                <div id="loginMsg">
                </div>
                <button id="btnSignup" type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-dismiss="modal" data-bs-target="#staticBackdrop">Sign Up</button>
                <button id="btnSignin" type="button" class="btn btn-primary">Login</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" >
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Sign Up</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="signupForm" action="./signup" method="post">
                <div class="modal-body">
                    <div class="mb-3">
                        <p class="form-label">Email address</p>
                        <input name="email" type="email" class="form-control" id="emailInput" placeholder="name@example.com">
                    </div>
                    <div class="mb-3">
                        <p class="form-label">ID</p>
                        <div class="input-group">
                            <input name="id" type="text" class="form-control" id="idInput" placeholder="Enter your ID...">
                            <button id="idCheck" type="button" class="btn btn-primary">중복체크</button>
                        </div>
                    </div>
                    <div id="checkIdResult" class="mb-3">
                    </div>
                    <div class="mb-3">
                        <p class="form-label">PWD</p>
                        <input name="pwd" type="password" class="form-control" id="pwdInput" placeholder="Enter your PWD...">
                    </div>
                    <div class="mb-3">
                        <p class="form-label">Repeat PWD</p>
                        <input name="pwd" type="password" class="form-control" id="pwdInput1" placeholder="Enter your PWD...">
                    </div>
                    <div id="checkPwdResult" class="mb-3">
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="signupMsg"></div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="signupSubmit" type="button" class="btn btn-primary">Sign Up!</button>
                </div>
            </form>
        </div>
    </div>
</div>
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Search</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input id="searchPost" type="text" class="form-control" placeholder="검색어를 입력하세요.">
                        <button class="btn btn-outline-secondary" id="searchSubmit" data-bs-dismiss="modal" onclick="pager(1)"><i class="fas fa-search"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>
</html>
