<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<div layout:fragment="content">
        <!-- Page content-->
        <div id="home" class="container">
            <div class="row">
                <!-- Blog entries-->
                <div class="col-lg-8">
                    <table>
                    회원탈퇴 완료
                    </table>
                    <a href="./home" role="button" class="btn btn-primary">홈으로</a>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script th:inline="javascript" th:src="@{/js/scripts.js}"></script>
</div>
</html>
